body {
  padding-top: 69px;
  margin: 0;
  background: #f2f6e9;
}

/*--- navigation bar ---*/
.navbar {
  background:#e4daf0;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

.header {
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    font-family: 'FontAwesome'; 
    content: "\f067"; 
    float: right;
}

.special-card {
/* create a custom class so you 
   do not run into specificity issues 
   against bootstraps styles
   which tends to work better than using !important 
   (future you will thank you later)*/

  background-color: rgba(255, 255, 255, 1);
  opacity: .2;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

.side-panel{
    padding: 15px;
    background-color: rgba(255, 255, 255, 1);
    
}

.fixed {
    position: fixed;
    background-color: rgba(200, 200, 250, 1);
}

.highlight{
    background: yellow;
}